* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: Helvetica, Arial, sans-serif;
  width: 100%;
  height: 100%;
  direction: ltr;
  line-height: 1.34;
  overflow-y: scroll;
  background-color: rgb(235, 235, 235);
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  height: 90vh;
  width: 90vw;
  zoom: 1;

  padding-top: 72px;
  padding-bottom: 112px;
}

.grupo-header {
  margin-left: 282px;
  margin-right: 282px;
}

.positon-header {
  margin-left: 100px;
  margin-top: 100px;
  margin-right: 100px;
  margin-bottom: 100px;
}

.frase-facebook {
  display: block;
  font-size: 28px;
  width: 500px;
  height: 160px;

  padding-bottom: 12px;
}

img {
  height: 106px;
  margin: -28px;
}

form {
  display: block;
  margin: auto;
  background-color: white;
  align-items: center;
  border: none;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgb(0, 0, 0 / 10%), 0 8px 16px rgb(0, 0, 0 / 10%);
  box-sizing: border-box;
  margin: 40px 0 0;
  padding: 20px 0 28px;
  width: 400px;
}

input {
  border: 1px solid rgba(128, 128, 128, 0.452);
  border-radius: 8px;
  padding: 14px 16px;
  margin: 6px;

  font-size: 17px;
}

#login {
  display: inline-block;
  text-align: center;
  display: flex;
  align-content: center;
}

#senha {
  display: block;
}

.esqueceu-a-senha {
  text-align: center;
  font-size: 14px;
  display: block;
  text-decoration: none;
  color: #1877f2;
  margin-top: 16px;
}

.esqueceu-a-senha:hover {
  text-decoration: underline;
}

.linha-pra-separar {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* .criar-pagina {
    margin-top: 20px;
}

.criar-pagina p {
    font-size: 14px;
    font-weight: normal;

}

.criar-pagina  a {
    text-decoration: none;
    color: black;
}

footer {
    background-color: white;
    font-family: inherit;
    font-size: 12px;
}

.links {
    margin-top: 20px;
    margin-bottom: 10px;
}

.copy {
    margin-top: 10px;
    Word-spacing: 18px;  
    color: gray;  
} */
