* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: Helvetica, Arial, sans-serif;
    width: 100%;
    height: 100%;
    direction: ltr;
    line-height: 1.34;
}

.container-main {
    height: 90%;
    width: 90%;
    margin: auto;
}

.grid-1 {
     display: flex;
    flex-direction: column;
    text-align: center; 
    margin: 20px;
}

#logo {
    /* display: flex;
    flex-direction: column;
    text-align: center; */
    /* margin: 20px; */
}

img {
    height: 106px;
    margin: -28px;
}



/* form {
    
}

.criar-pagina {
    margin-top: 20px;
}

.criar-pagina p {
    font-size: 14px;
    font-weight: normal;

}

.criar-pagina  a {
    text-decoration: none;
    color: black;
}

footer {
    font-family: inherit;
    font-size: 12px;
}

.links {
    margin-top: 20px;
    margin-bottom: 10px;
}

.copy {
    margin-top: 10px;
    Word-spacing: 18px;  
    color: gray;  
} */