<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body> 
    
    <form action="/" method="POST">
        <input type="text" name="title" class="fieldTitle" placeholder="Title" required>
        <input type="text" name="description" class="fieldDescription" placeholder="description" > 
        <input type="text" name="url" class="fieldUrl" placeholder="url" required>
        <button>Enviar</button>
    </form>
    <ul>
        <li>Verifique a url</li>
        <li>No compo (title) não coloque letra maiuscula</li>
        <li>A descrição e opcional</li>
    </ul>
</body>
</html>