<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>For</title>
  </head>
  <body>
    <%- include('./partials/navbar.ejs') %>
    <div>
      <h1>LOGO</h1>
      <a href="./"></a>
    </div>

    <% for( let index of usersHTML ){ %>

    <h2>Name: <%=index.name%></h2>
    <h3>Phone: <%=index.phone%></h3>
    <% } %>
  </body>
</html>
