.container {
  color: white;
  display: grid;
  padding: 5px;
  background-color: gray;

  grid-template: auto auto / 2fr 3fr 1fr;

  /* grid-row-gap: 5px;
  grid-column-gap: 5px; */

  grid-gap: 15px;
}

.r1 {
  background-color: red;
}

.r2 {
  background-color: blue;
}

.r3 {
  background-color: green;
}

.react {
}
