body {
    font-family: Arial, Helvetica, sans-serif;
}

.containerMain {
    min-width: 350px;
    max-width: 500px;
    background-color: rgba(44, 211, 233, 0.268); 
    border: 1px solid rgba(0, 0, 0, 0.187);
    border-radius: 20px;
    padding: 20px;
    margin: auto;  
}

h1 {
    margin-top: 0px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

input {
    font-size: 15px;
    box-sizing: border-box;
    display: block;
    width: 100%;
    padding: 5px;
    margin-bottom: 5px;
}

button {
    font-size: 15px;
    box-sizing: border-box;
    width: 100%;
}
