@font-face {
     font-family: 'OpenSans-700';
     src: url(Fonts/OpenSans_Condensed-Bold.ttf);
}

@font-face {
     font-family: 'OpenSans-600';
     src: url(Fonts/OpenSans_SemiCondensed-SemiBold.ttf);
}

@font-face {
     font-family: 'OpenSans-400';
     src: url(Fonts/OpenSans-Regular.ttf);
}

body {
     font-family: Arial, Helvetica, sans-serif;
     margin: 0;
     padding: 0;
}

.top-bar {
     box-sizing: border-box;
     background-color: #333;
     padding: 8px;
     border-bottom: 5px solid rgb(255, 145, 0);
}

#qualComprar {
     font-family: 'OpenSans-600';
     font-size: 24px;
     text-align: center;
     color: white;
}

header {
     border-bottom: 1px solid rgba(0, 0, 0, 0.548);
    width: 700px;
    margin: auto;
}

header h1 {
     font-family: 'OpenSans-600';
     font-size: 56px;
}

.conta-de-luz {
     font-size: 20px;
     font-weight: 400;
     color: #555;
}

.escritor {
     font-size: 12px;
     font-weight: 700;
     color: #333;
}

.linksfake {
     width: 25px;
     margin: 5px;
}

.container {
     width: 600px;
     margin: auto;
}

a {
     text-decoration: none;
     color: rgb(255, 136, 0);
     font-weight: 700;
}

img {
     padding: 0;
     margin: 0;
     width: 100%;
}

figcaption {
     margin-top: 10px;
     font-size: 10px;
     color: rgb(116, 116, 116);
}

p{
     line-height: 25px;
     color: rgb(102, 102, 102);
}

.rodape {
     background-color: #333;
     width: 100vw;
     height: 50px;
}