#i1{
    list-style-type: georgian;
}

#i2{
    list-style-type: circle;
}

#i3{
    list-style-type: square;
}

#i4{
    list-style-type: upper-alpha;
}

#i5{
    list-style-type: upper-roman;
}

#i6{
    list-style-type: upper-latin;
} /* existe varios tipos como mostra a imagem acima */

#i7{
    list-style-image: url(#);
}

a{
    text-decoration: none;
}

li{
    border: 2px solid black;
    background-color: yellow;
    margin: 10px;
    border-radius: 5px;
}

ul{
    list-style-position: outside;
    margin: 0;
    padding: 10px;
    background-color: #f3e;
}

ol{
    list-style-position: inside;
    margin: 0;
    padding: 10px;

    background-color: #95e500;
}